*{
    padding: 0;
    margin: 0;
}

.notification{
    background-color: #C2E8CE;
}

a{
    text-decoration: none;
}

.notification p{
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #1F1F1F;
}

.notification .close{
    position: absolute;
    right: 0;
    background-image: url("../images/close.svg");
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 17px;
    background-size: contain;
}


.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
}

ul{
    list-style: none;
}

header ul{
    display: flex;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header nav li{
    margin: 0 20px;
}

header{
    padding: 20px 0;
}

header nav li:hover a{
    color: #FF8126;
}

header ul li a{
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
}

header ul li{
    margin-left: 10px;
}

header ul li a img{
    margin: auto;
}

header nav li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
    transition: 0.3s;
    border: none;
    width: auto;
    height: auto;
}

header nav li:first-of-type a:after{
    content: "";
    background-image: url("../images/arow.svg");
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav li:nth-child(2) a:after{
    content: "";
    background-image: url("../images/arow.svg");
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav li:nth-child(3) a:after{
    content: "";
    background-image: url("../images/arow.svg");
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

.main_banner h1{
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #1F1F1F;
    margin-bottom: 5px;
}
.main_banner h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: #1F1F1F;
    margin-bottom: 40px;
}
.btn{
    background:#FF8126;
    border-radius: 5px;
    display: inline-block;
    padding: 9px 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.main_banner{
    background-image: url("../images/main_banner.jpg");
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 195px;
}
